@value componentBackground from '../constants.pcss';
@value fontColor from '../constants.pcss';

.timePanel {
    color: fontColor;
    font-family: Roboto;
    font-style: regular;
    font-size: 12px;
    background: componentBackground;
    padding: 3px;
    user-select: none;
    min-width: 50px;
    max-width: 50px;
}
