@value iconColor from '../constants.pcss';
@value iconHoverColor from '../constants.pcss';

.button {
    background: black;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__icon {
        stroke: iconColor;
        transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
        opacity: 0.9;

        &_filled {
            fill: iconColor;
        }
    }

    &:hover > &__icon {
        opacity: 1;
    }
}
