@value iconColor from '../constants.pcss';
@value iconHoverColor from '../constants.pcss';

.button {
    background: black;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__icon {
        stroke: iconColor;

        &_filled {
            fill: iconColor;
        }
    }

    &:hover > &__icon {
        stroke: iconHoverColor;
        &_filled {
            fill: iconHoverColor;
        }
    }
}
