@value componentBackground from '../constants.pcss';
@value componentHeight from '../constants.pcss';

.timeline {
    height: componentHeight;
    background: componentBackground;
    display: inline-flex;
    align-items: center;
}
