@value componentBackground from '../constants.pcss';
@value componentHeight from '../constants.pcss';

.timeline {
    max-width: 430px;
    height: componentHeight;
    background: componentBackground;
    display: flex;
    align-items: center;
}
